In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ipl = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-17\ipl-matches.csv')
ipl

In [ ]:
movies = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-17\movies.csv')
movies

In [ ]:
runs = pd.read_csv(r"F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-17\batsman_runs_ipl.csv")
runs

In [ ]:
diabetes = pd.read_csv(r"F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-17\diabetes.csv")
diabetes

In [ ]:
ipl.head(3)

In [ ]:
ipl[~ipl['MatchNumber'].str.isnumeric()]['Player_of_Match'].value_counts()

In [ ]:
# ipl["TossDecision"].value_counts().plot(kind='bar')
ipl["TossDecision"].value_counts().plot(kind='pie')

In [ ]:
(ipl["Team1"].value_counts() + ipl["Team2"].value_counts()).sort_values(ascending =0)

In [ ]:
movies.head(3)

In [ ]:
movies['title_x'].sort_values()
movies.sort_values('title_x')

In [ ]:
movies.sort_values('tagline',ascending=0,na_position='first')

In [ ]:
movies.sort_values(['year_of_release','title_x'])
movies.sort_values(['year_of_release','title_x'],ascending=[0,1])

In [ ]:
runs
runs["ranks"] = runs["batsman_run"].rank(ascending=0)

In [ ]:
runs.sort_values("ranks")

In [ ]:
movies.sort_index(ascending=0)

In [ ]:
runs.set_index('batter')

In [ ]:
runs.reset_index()

In [ ]:
runs.reset_index().set_index('ranks')

In [ ]:
nan = np.nan
stud ={
    "Name":["A","B","C","D",nan,"F",nan,nan,"I","J"],
    "College":['C1',nan,'C3','C4','C5','C6',nan,'C8','C9','C10'],
    'Branch':['B1','B2',nan,'B4','B5','B6','B7','B8',nan,'B10'],
    'CGPA':[6.66,6.7,9.8,9,nan,5.6,7.8,8.6,8.5,nan],
    'Package':[1,2,nan,4,nan,6,7,8,9,10]
}
student = pd.DataFrame(stud)
student

In [ ]:
student['Name'].isnull()
student['Name'].notnull()
student['Name'].hasnans

In [ ]:
student.isnull()
student.notnull()

In [ ]:
student['Name'].dropna()
student['Name'].fillna('UNKNOWN')

In [ ]:
student.dropna()
student.dropna(how='all')
student.dropna(subset=['Name'])

student.fillna("EMPTY")

In [ ]:
ipl['ALL'] = ipl['Team1Players']+ipl['Team2Players']

vk = ipl['ALL'].apply(lambda x: 'V Kohli' in x) 

ipl['vk_play'] = ipl['ALL'].apply(lambda x: 'V Kohli' in x) 
ipl

vk_dl = ipl[vk & (ipl["City"] =="Delhi")]
vk_dl

In [ ]:
vk_dl.drop_duplicates(subset=['City','vk_play'])

In [ ]:
t = pd.Series([1,2,3,4,5,6,7,8,9,0,10])
t

In [ ]:
t.drop(index=[0,3])

In [ ]:
student.drop(columns=['Branch','CGPA'])

In [ ]:
student.drop(index=[0,2,3])

In [ ]:
t = pd.Series([10,20,30,40,50])
t

In [ ]:
def sigmoid(value):
    return 1 / (1 + np.exp(-value))

In [ ]:
t.apply(sigmoid)

In [ ]:
points ={
    '1st':[(3,4),(-6,5),(0,0),(-10,1),(4,5)],
    '2nd':[(-3,4),(0,0),(2,2),(10,10),(1,1)]
}

point_df =pd.DataFrame(points)
point_df

In [182]:
def euclidean(row):
    pt_A =row['1st']
    pt_B =row['2nd']

    ans = ((pt_A[0] - pt_B[0])**2 + (pt_A[0] - pt_B[0])**2)**0.5
    return ans

In [185]:
point_df['Distance'] = point_df.apply(euclidean,axis=1)
point_df

        1st       2nd   Distance
0    (3, 4)   (-3, 4)   8.485281
1   (-6, 5)    (0, 0)   8.485281
2    (0, 0)    (2, 2)   2.828427
3  (-10, 1)  (10, 10)  28.284271
4    (4, 5)    (1, 1)   4.242641