In [1]:
import numpy as numpy
import pandas as pd

In [2]:
train = pd.read_csv('Titanic Dataset/train.csv')
test  = pd.read_csv('Titanic Dataset/test.csv')

In [3]:
df = pd.concat([train, test]).sample(1309)

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
825,826,0.0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
655,656,0.0,2,"Hickman, Mr. Leonard Mark",male,24.0,2,0,S.O.C. 14879,73.5000,NaN,S
329,1221,NaN,2,"Enander, Mr. Ingvar",male,21.0,0,0,236854,13.0000,NaN,S
843,844,0.0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C
347,1239,NaN,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C

In [5]:
pop = df['Age'].dropna()

In [6]:
pop

655    24.0
329    21.0
843    34.5
347    38.0
277    40.0
       ...
161    40.0
192    19.0
123    28.0
341    24.0
130    33.0
Name: Age, Length: 1046, dtype: float64

In [7]:
sample_age = pop.sample(25).values

In [8]:
sample_age

array([24. ,  7. , 29. , 18. ,  9. , 48. , 25. , 32. , 31. , 20. , 30. ,
       63. , 24.5, 30. , 19. , 49. , 63. , 62. , 24. , 17. , 60. , 18. ,
       31. , 30. , 46. ])

In [9]:
# H0: the mean age is 35
# H1: the mean age is less than 35

In [10]:
from scipy.stats import shapiro

In [11]:
shapiro_age = shapiro(sample_age)
shapiro_age

ShapiroResult(statistic=0.8990696668624878, pvalue=0.017511215060949326)

In [12]:
sample_age.mean()

32.38

In [13]:
pop_mean = 35
alpha = 0.05

In [14]:
from scipy import stats

In [15]:
t_stat, p_value = stats.ttest_1samp(sample_age, pop_mean)
print("T-statistic:", t_stat)
print("P-value:", p_value / 2)  # one-tailed test

if p_value / 2 < alpha and t_stat < 0:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

T-statistic: -0.7850013285590359
P-value: 0.22006675768622214
Fail to reject the null hypothesis

In [16]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
825,826,0.0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
655,656,0.0,2,"Hickman, Mr. Leonard Mark",male,24.0,2,0,S.O.C. 14879,73.5000,NaN,S
329,1221,NaN,2,"Enander, Mr. Ingvar",male,21.0,0,0,236854,13.0000,NaN,S
843,844,0.0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C
347,1239,NaN,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C

In [32]:
pop_male = df[df['Sex'] == 'male']['Age'].dropna()
pop_female = df[df['Sex'] == 'female']['Age'].dropna()

In [33]:
sample_male = pop_male.sample(30).values
sample_female = pop_female.sample(30).values    

alpha = 0.05

In [34]:
# H0: mean age of males = mean age of females
# H1: mean age of males != mean age of females

In [35]:
from scipy.stats import shapiro
from scipy.stats import levene

In [36]:
shapiro_male = shapiro(sample_male)
shapiro_female = shapiro(sample_female)

print("Shapiro-Wilk Test for Males  : W =", shapiro_male.statistic, ", p-value =", shapiro_male.pvalue)
print("Shapiro-Wilk Test for Females: W =", shapiro_female.statistic, ", p-value =", shapiro_female.pvalue)

Shapiro-Wilk Test for Males  : W = 0.9660755395889282 , p-value = 0.4380771219730377
Shapiro-Wilk Test for Females: W = 0.9596126675605774 , p-value = 0.3027823567390442

In [37]:
levene_test = levene(sample_male, sample_female)
print("Levene's Test: W =", levene_test.statistic, ", p-value =", levene_test.pvalue)

Levene's Test: W = 0.04375160184255197 , p-value = 0.835049364057769

In [38]:
t_stat, p_value = stats.ttest_ind(sample_male, sample_female)
print("T-statistic:", t_stat)
print("P-value    :", p_value)

T-statistic: 0.05846012640513122
P-value    : 0.9535830746095472

In [39]:
print("Mean Age of Males    :", sample_male.mean())
print("Mean Age of Females  :", sample_female.mean())

Mean Age of Males    : 31.566666666666666
Mean Age of Females  : 31.35