In [ ]:
import pandas as pd
import numpy as np

# Vectorized String Operations

In [ ]:
a = np.array([1,2,3,4,5,6])
a*5

In [ ]:
l = ['rat','bat','mat','cat',None]
l
# [i.startswith('c') for i in l]

In [ ]:
s = pd.Series(['rat','bat','mat','cat',None])
s
s.str.startswith('c')

In [ ]:
df = pd.read_csv(r"F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-22\titanic.csv")
df.head()

In [ ]:
df['Name']
df['Name'].str.upper()
df['Name'].str.lower()
df['Name'].str.title()
df['Name'].str.swapcase()
df['Name'].str.capitalize()

In [ ]:
df['Name'][df['Name'].str.len() == df['Name'].str.len().max()].values[0]
df['Name'].str.strip()

In [ ]:
df['lastname'] = df['Name'].str.split(',').str.get(0)
df

In [ ]:
# df[['title','firstname']] = df['Name'].str.split(',').str.get(1).str.strip().str.split('.')
df['title'] = df['Name'].str.split(',').str.get(1).str.strip().str.split('.').str.get(0)
df['firstname'] = df['Name'].str.split(',').str.get(1).str.strip().str.split('.').str.get(1)

In [ ]:
df

In [ ]:
df['title'].value_counts()

In [ ]:
# Miss , Ms, Mlle  are same 

df['title'] = df['title'].str.replace('Ms','Miss')
df['title'] = df['title'].str.replace('Mlle','Miss')

In [ ]:
df['title'].value_counts()

In [97]:
df[df['firstname'].str.contains('john',case =False)]['firstname']

1             John Bradley (Florence Briggs Thayer)
41      William John Robert (Dorothy Ann Wonnacott)
45                                     William John
98                          John T (Ada Julia Bone)
112                                      David John
117                             William John Robert
160                                   John Hatfield
162                                     John Viktor
165                    Frank John William "Frankie"
168                                          John D
188                                            John
212                                      John Henry
226                                    William John
227                             John Hall ("Henry")
324                                  George John Jr
328                  Frank John (Emily Alice Brown)
401                                            John
418                                    William John
467                                 John Montgomery
527                                            John
548                                      Frank John
549                                  John Morgan Jr
550                                 John Borland Jr
563                                            John
572                           John Irwin ("Irving")
574                              Alfred George John
581         John Borland (Marian Longstreth Morris)
583                                       John Hugo
586                                     John Denzil
594                                      John Henry
613                                            John
624                                David John "Dai"
657                                John (Catherine)
694                                            John
698                                    John Borland
700           John Jacob (Madeleine Talmadge Force)
733                                    William John
760                                            John
765                           John C (Anna Andrews)
818                          John Fredrik Alexander
822                                     John George
825                                            John
848                                            John
864                                    John William
Name: firstname, dtype: object

In [101]:
# ^ -> first character
# + -> one or more
# . -> any characters 
# $ -> last character


df[df['lastname'].str.contains('^[aeiouAEIOU].+[aeiouAEIOU]$')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,lastname,title,firstname
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,Uruchurtu,Don,Manuel E
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,Arnold-Franchi,Mrs,Josef (Josefine Franchi)
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,NaN,C,Albimona,Mr,Nassef Cassem
210,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,Ali,Mr,Ahmed
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.0,1,0,349237,17.8000,NaN,S,Arnold-Franchi,Mr,Josef
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,Artagaveytia,Mr,Ramon
518,519,1,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0,1,0,226875,26.0000,NaN,S,Angle,Mrs,"William A (Florence ""Mary"" Agnes Hughes)"
784,785,0,3,"Ali, Mr. William",male,25.0,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S,Ali,Mr,William
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S,Alhomaki,Mr,Ilmari Rudolf