In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ece',2019),('ece',2020),('ece',2021),('ece',2022)]
index_val

In [ ]:
a = pd.Series([1,2,3,4,5,6,7,8],index =index_val)
a

In [ ]:
multiIndex = pd.MultiIndex.from_tuples(index_val)
multiIndex

In [ ]:
multiIndex.levels

In [ ]:
pd.MultiIndex.from_product([['cse','ece'],[2019, 2020, 2021, 2022]])

In [ ]:
s = pd.Series([1,2,3,4,5,6,7,8], index = multiIndex)
# pd.Series([1,2,3,4,5,6,7,8], index = multiIndex).reset_index()

s

In [ ]:
s[('cse',2022)], s['cse']
# s['2019']

In [ ]:
t = s.unstack()
t

In [ ]:
t1 = t.stack()
t1

In [ ]:
branch_df1 = pd.DataFrame(
    [
        [1,2],
        [3,4],
        [5,6],
        [7,8],
        [9,10],
        [11,12],
        [13,14],
        [15,16]
    ], index = multiIndex,columns = ["Average Package", 'Students']
)

branch_df1

In [ ]:
branch_df1.loc['cse']

In [ ]:
branch_df2 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0]
    ],index = [2019,2020,2021,2022],
    columns = pd.MultiIndex.from_product([['Delhi', 'Mumbai'], ["Average Package", 'Students']])
)

branch_df2

In [ ]:
branch_df2['Delhi']['Students']
branch_df2['Delhi']
branch_df2.loc[2019]

In [ ]:
branch_df3 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
        [9,10,0,0],
        [11,12,0,0],
        [13,14,0,0],
        [15,16,0,0]
    ],index = multiIndex,
    columns = pd.MultiIndex.from_product([['Delhi', 'Mumbai'], ["Average Package", 'Students']])
)

branch_df3

In [ ]:
branch_df3['Delhi']

In [ ]:
branch_df3.loc['cse'].loc[2019]['Delhi']['Average Package']

In [ ]:
branch_df1.unstack()
branch_df1.unstack().unstack()
# branch_df1.unstack().unstack().unstack()

In [ ]:
branch_df1.stack()
branch_df1.unstack().stack()
branch_df1.unstack().stack().stack()

In [ ]:
branch_df2

In [ ]:
branch_df2.unstack()

In [ ]:
branch_df2.stack()
branch_df2.stack().stack()

In [ ]:
branch_df3

In [ ]:
branch_df3.unstack().unstack()

In [ ]:
branch_df3.stack()
branch_df3.stack().stack()

In [ ]:
branch_df3

In [ ]:
branch_df3.head()
branch_df3.shape
branch_df3.info()
branch_df3.stack().info()
branch_df3.unstack().info()

In [ ]:
branch_df3.duplicated()
branch_df3.isnull()

In [ ]:
branch_df3.loc[('cse',2019)] , branch_df3.loc['cse'].loc[2019]

In [ ]:
branch_df3.loc[('cse',2019):('ece',2020)] 
branch_df3.loc[('cse',2020):('ece',2020):2] , branch_df3.iloc[1:6:2]

In [ ]:
branch_df3.iloc[:,0:5:3] 
branch_df3.iloc[:,2:6:1]

In [ ]:
branch_df3.iloc[:,0:5:3] 
branch_df3.iloc[[0,4],[1,2]]

In [72]:
branch_df3.sort_index(ascending =False)

                   Delhi                   Mumbai
         Average Package Students Average Package Students
ece 2022              15       16               0        0
    2021              13       14               0        0
    2020              11       12               0        0
    2019               9       10               0        0
cse 2022               7        8               0        0
    2021               5        6               0        0
    2020               3        4               0        0
    2019               1        2               0        0

In [73]:
branch_df3.sort_index(ascending =[True, False])

                   Delhi                   Mumbai
         Average Package Students Average Package Students
cse 2022               7        8               0        0
    2021               5        6               0        0
    2020               3        4               0        0
    2019               1        2               0        0
ece 2022              15       16               0        0
    2021              13       14               0        0
    2020              11       12               0        0
    2019               9       10               0        0

In [74]:
branch_df3.sort_index(level =1 ,ascending = False)

                   Delhi                   Mumbai
         Average Package Students Average Package Students
ece 2022              15       16               0        0
cse 2022               7        8               0        0
ece 2021              13       14               0        0
cse 2021               5        6               0        0
ece 2020              11       12               0        0
cse 2020               3        4               0        0
ece 2019               9       10               0        0
cse 2019               1        2               0        0

In [76]:
branch_df3.transpose()

                        cse                 ece
                       2019 2020 2021 2022 2019 2020 2021 2022
Delhi  Average Package    1    3    5    7    9   11   13   15
       Students           2    4    6    8   10   12   14   16
Mumbai Average Package    0    0    0    0    0    0    0    0
       Students           0    0    0    0    0    0    0    0

In [77]:
branch_df3.swaplevel()

                   Delhi                   Mumbai
         Average Package Students Average Package Students
2019 cse               1        2               0        0
2020 cse               3        4               0        0
2021 cse               5        6               0        0
2022 cse               7        8               0        0
2019 ece               9       10               0        0
2020 ece              11       12               0        0
2021 ece              13       14               0        0
2022 ece              15       16               0        0

In [78]:
branch_df3.swaplevel(axis = 1)

         Average Package Students Average Package Students
                   Delhi    Delhi          Mumbai   Mumbai
cse 2019               1        2               0        0
    2020               3        4               0        0
    2021               5        6               0        0
    2022               7        8               0        0
ece 2019               9       10               0        0
    2020              11       12               0        0
    2021              13       14               0        0
    2022              15       16               0        0

In [ ]:
deaths = pd.read_csv(r"F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-21\time_series_covid19_deaths_global.csv")
deaths.head()

In [ ]:
confirmed = pd.read_csv(r"F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-21\time_series_covid19_confirmed_global.csv")
confirmed.head()