In [ ]:
import pandas as pd
import numpy as np

In [ ]:
deliveries = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\dataset-session-19\deliveries.csv')
deliveries.head(5)

In [ ]:
movies = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\dataset-session-19\imdb-top-1000.csv')
movies.head(5)

In [ ]:
genres = movies.groupby('Genre')
genres

In [ ]:
genres.sum()

In [ ]:
genres.sum()['Gross'].sort_values(ascending=False).head(3)

In [ ]:
genres['Gross'].sum().sort_values(ascending=False).head(3)

In [ ]:
genres['IMDB_Rating'].mean().sort_values(ascending=False).head(3)

In [ ]:
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(3)

In [ ]:
# genres['IMDB_Rating'].max().sort_values(ascending=False).head(3)[['Genre','IMDB_Rating','Series_Title']]
genres[['Genre','IMDB_Rating','Series_Title']]

In [ ]:
movies['Star1'].value_counts()

In [ ]:
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

In [ ]:
movies.groupby('Genre').size().sort_values(ascending=False)

movies['Genre'].value_counts()

In [ ]:
genres.first()

In [ ]:
genres.last()

In [ ]:
genres.nth(8)

In [ ]:
genres.get_group('Horror')

In [ ]:
genres.groups

In [ ]:
genres.describe()

In [ ]:
genres.sample()

In [ ]:
genres.nunique()

In [ ]:
genres.sum()

In [ ]:
dic = {'Runtime':'mean',
'IMDB_Rating':'mean',
'No_of_Votes':'sum',
'Gross':'sum',
'Metascore':'min'
}

genres.agg(dic)

In [ ]:
['Runtime','IMDB_Rating','No_of_Votes','Gross','Metascore']

In [ ]:
ls = ['mean','max','min']

genres[['Runtime','IMDB_Rating','No_of_Votes','Gross','Metascore']].agg(ls)
# genres.agg(['mean','max','min'])

In [ ]:
for grp,data in genres:
    print(grp)

In [ ]:
for grp,data in genres:
    print(data)

In [ ]:
top_movies = []

# Iterate through each group
for grp, data in genres:
    top_movies.append(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])

# Combine all top-rated movies into one DataFrame
df = pd.concat(top_movies, ignore_index=True)
df

In [ ]:
# df = pd.DataFrame(columns=movies.columns)
# for grp,data in genres:
#     df = df.append(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])  #not Working
# df

In [ ]:
# Group by Genre and get the row with highest IMDB_Rating in each group
top_rated_per_genre = movies.groupby('Genre', group_keys=False).apply(lambda x: x[x['IMDB_Rating'] == x['IMDB_Rating'].max()])

In [ ]:
top_rated_list = []
for genre, group in movies.groupby('Genre'):
    top_movies = group[group['IMDB_Rating'] == group['IMDB_Rating'].max()]
    top_rated_list.append(top_movies)

top_rated_per_genre = pd.concat(top_rated_list, ignore_index=True)
top_rated_per_genre

In [ ]:
genres.apply(min)

In [ ]:

def fx(group):
    print(group)
    return group

genres.apply(fx)

In [ ]:

def fx1(group):
    print(group['Series_Title'].str.startswith('A'))
    return group

genres.apply(fx1)

In [ ]:

def fx1(group):
    print("Total :",group['Series_Title'].str.startswith('A').sum)
    print(group[group['Series_Title'].str.startswith('A')])
    return group

genres.apply(fx1)

In [ ]:
def rank(group):
    group['IMDB_Rank'] = group['IMDB_Rating'].rank(ascending= False)
    return group

genres.apply(rank)

In [ ]:
def normalize_rank(group):# -> Any:
    group['IMDB_Normalize_Rank'] = (group['IMDB_Rating'] - group['IMDB_Rating'].min())/(group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
    return group

genres.apply(normalize_rank)

In [ ]:
movies.head(1)

In [ ]:
duo = movies.groupby(['Director', 'Star1'])
duo

In [ ]:
duo.size()

In [ ]:
duo.get_group(('Aamir Khan', 'Amole Gupte'))

In [ ]:
duo['Gross'].sum()
duo['Gross'].sum().sort_values().tail(1)

In [ ]:
movies.groupby(['Star1','Genre'])['Metascore'].mean().reset_index().sort_values('Metascore', ascending = False)

In [ ]:
duo.head(2)

In [ ]:
duo.agg(['min','max'])

In [ ]:
ipl = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\dataset-session-19\deliveries.csv')
ipl.head(2)

In [ ]:
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending = False)

In [ ]:
six = ipl[ipl['batsman_runs'] == 6]

six.groupby('batsman')['batsman'].count().sort_values(ascending =False)

In [ ]:
t_df = ipl[ipl['over'] > 15]

t_df = t_df[(t_df['batsman_runs'] == 4) | (t_df['batsman_runs'] == 6)]

t_df.groupby('batsman')['batsman'].count().sort_values(ascending =False)

In [ ]:
t_df1 = ipl[ipl['batsman'] == "V Kohli"]
t_df1.groupby('bowling_team')['batsman_runs'].count().reset_index()

In [ ]:
t_df2 = ipl[ipl['batsman'] == "V Kohli"]

t_df2.groupby('match_id')['batsman_runs'].sum().sort_values(ascending =False)

In [126]:
def highest(batsman):
    t_df2 = ipl[ipl['batsman'] == batsman]
    return t_df2.groupby('match_id')['batsman_runs'].sum().sort_values(ascending =False)

# highest("V Kohli")
highest("MS Dhoni")

match_id
11330    89
7905     83
11148    79
7917     76
302      70
         ..
527       1
586       1
206       0
224       0
573       0
Name: batsman_runs, Length: 170, dtype: int64