In [ ]:
# # !pip install -r requirements.txt
# !pip install seaborn matplotlib pandas numpy scipy statsmodels 
# !pip install scikit-learn
# !pip install plotly

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
tips = sns.load_dataset("tips")
tips

In [ ]:
# Axes level fx

# sns.scatterplot(data=tips, x="total_bill", y="tip", hue="day", style="time", size="size")
sns.scatterplot(data=tips, x="total_bill", y="tip", hue="sex", style="time", size="size")

In [ ]:
# Figure level fx

sns.relplot(data=tips, x="total_bill", y="tip", hue="day", style="time", size="size")

In [ ]:
gap = px.data.gapminder()
gap.head()

In [ ]:
sns.relplot(data=gap[gap['country'] == 'India'], x="year", y="lifeExp", hue="continent", kind = "line")

In [ ]:
sns.lineplot(data=gap[gap['country'] == 'India'], x="year", y="lifeExp", hue="continent")

In [ ]:
df = gap[gap['country'].isin(['India', 'China', 'United States'])]
df.sample(5)

In [ ]:
sns.relplot(data=df, x="year", y="pop", hue="country", kind="line")
sns.relplot(data=df, x="year", y="lifeExp", hue="country", kind="line")

In [ ]:
# sns.lineplot(data=df, x="year", y="pop", hue="country", kind="line")
sns.lineplot(data=df, x="year", y="lifeExp", hue="country")

In [ ]:
sns.relplot(data=gap, x="year", y="pop", hue="country", kind="line")
sns.relplot(data=gap, x="year", y="lifeExp", hue="country", kind="line", col="continent")

In [ ]:
sns.relplot(data=gap , x="gdpPercap", y="lifeExp", hue="country", kind="scatter", col="year",col_wrap=2)

In [ ]:
sns.displot(data=tips, x="total_bill",kind="hist")

In [ ]:
sns.displot(data=tips, x="total_bill",kind="kde")

In [ ]:
sns.displot(data=tips, x="total_bill", kde=True)

In [ ]:
sns.histplot(data=tips, x="total_bill")

In [ ]:
sns.histplot(data=tips, x="total_bill", kde=True)

In [ ]:
sns.displot(data=tips, x="total_bill",bins=50)

In [ ]:
sns.displot(data=tips, x="day")

In [ ]:
sns.displot(data=tips, x="tip", hue="sex",element="step")

In [ ]:
sns.displot(data=tips, x="tip", hue="sex", multiple="stack")

In [ ]:
sns.displot(data=tips, x="tip", hue="sex")

In [ ]:
sns.displot(data=tips, x="tip", hue="day")

In [ ]:
sns.displot(data=tips, x="tip", hue="day", multiple="stack")

In [ ]:
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
sns.displot(data=titanic, x="age", hue="sex")

In [ ]:
sns.displot(data=titanic, x="age", hue="class")

In [ ]:
sns.displot(data=titanic, x="age", hue="class", multiple="stack", col='sex')

In [ ]:
sns.displot(data=titanic, x="age", hue="sex", multiple="stack", col='class')

In [ ]:
sns.kdeplot(data=tips, x="total_bill")

In [ ]:
# sns.displot(data=tips, x="total_bill", hue="sex", kind="kde")

In [ ]:
sns.kdeplot(data=tips, x="total_bill")
sns.rugplot(data=tips, x="total_bill")

In [ ]:
sns.histplot(data=tips, x="total_bill", y="tip", kde=True)

In [ ]:
sns.kdeplot(data=tips, x="total_bill", y="tip", kde=True)

In [ ]:
gap.groupby('country')['lifeExp'].sum()

In [ ]:
gap.groupby(['country', 'year'])['lifeExp'].sum().reset_index()

In [ ]:
gap.groupby(['country', 'year'])['lifeExp'].sum().unstack().reset_index()

In [ ]:
df = gap.pivot_table(index='country', columns='year', values='lifeExp', aggfunc='sum')
plt.figure(figsize=(20,80))
sns.heatmap(df)

In [ ]:
df = gap[gap['continent']=="Asia"].pivot_table(index='country', columns='year', values='lifeExp')

plt.figure(figsize=(10,8))
sns.heatmap(df,annot=True)

In [ ]:
df = gap[gap['continent']=="Asia"].pivot_table(index='country', columns='year', values='lifeExp')

plt.figure(figsize=(10,8))
sns.heatmap(df,annot=True,linewidths=0.4)

In [ ]:
df = gap[gap['continent']=="Asia"].pivot_table(index='country', columns='year', values='lifeExp')

plt.figure(figsize=(10,8))
sns.heatmap(df,annot=True,linewidths=0.4,cmap='YlGnBu')

In [ ]:
iris = sns.load_dataset("iris")
iris.head()

In [ ]:
sns.clustermap(data=iris.iloc[:,:4])

In [ ]:
sns.scatterplot(tips,y="total_bill",x='day')

In [ ]:
sns.stripplot(data = tips,y="total_bill",x='day')

In [ ]:
sns.catplot(data = tips,y="total_bill",x='day',kind='strip')

In [ ]:
sns.catplot(data = tips,y="total_bill",x='day',kind='strip',jitter =0.1,hue='sex')

In [ ]:
sns.swarmplot(data = tips,x='day',y="total_bill",)

In [ ]:
sns.catplot(data = tips,x='day',y="total_bill",hue='sex',kind='swarm')

In [ ]:
sns.boxplot(data=tips, x="day", y="total_bill")

In [ ]:
sns.catplot(data=tips, x="day", y="total_bill", kind="box")

In [ ]:
sns.catplot(data=tips, x="day", y="total_bill", kind="box",row='time')

In [ ]:
sns.boxplot(data=tips, x="day", y="total_bill",hue='sex')

In [ ]:
sns.boxplot(data=tips,  y="total_bill")

In [ ]:
sns.violinplot(data=tips, x="day", y="total_bill")

In [ ]:
sns.violinplot(data=tips, x="day", y="total_bill", hue="sex")

In [ ]:
sns.violinplot(data=tips, x="day", y="total_bill", hue="sex", split=True)

In [ ]:
sns.catplot(data=tips, x="day", y="total_bill", hue="sex", split=True, kind="violin")

In [ ]:
sns.barplot(data=tips, x="day", y="total_bill", hue="sex")

In [ ]:
sns.catplot(data=tips, x="day", y="total_bill", hue="sex",kind="bar")

In [ ]:
sns.barplot(data=tips, x="day", y="total_bill", hue="sex",estimator=min)

In [ ]:
sns.pointplot(data=tips, x="day", y="total_bill", hue="sex",estimator=min)

In [ ]:
sns.countplot(data=tips, x="day", hue="sex")

In [ ]:
sns.regplot(data=tips, x="total_bill", y="tip")

In [ ]:
sns.lmplot(data=tips, x="total_bill", y="tip", hue="sex")

In [ ]:
sns.residplot(data=tips, x="total_bill", y="tip")

In [ ]:
# sns.catplot(data=tips, x="sex", y="total_bill",kind ="violin",col='day' ,row='time', split=True)
sns.catplot(data=tips, x="sex", y="total_bill",kind ="violin",col='day' ,row='time')

In [ ]:
sns.FacetGrid(tips,col="day",row='time').map(sns.violinplot,'sex',"total_bill")

In [ ]:
iris.head()

In [ ]:
sns.pairplot(iris)

In [ ]:
sns.pairplot(iris,hue='species')

In [ ]:
g = sns.PairGrid(iris,hue='species',palette='Dark2')
g.map(sns.scatterplot)

In [ ]:
g = sns.PairGrid(iris)
g.map_diag(sns.kdeplot)
g.map_offdiag(sns.scatterplot)

In [ ]:
g = sns.PairGrid(iris,hue='species',palette='Set2')
g.map_diag(sns.histplot)
g.map_upper(sns.scatterplot)
g.map_lower(sns.kdeplot)

In [ ]:
g = sns.PairGrid(iris,hue='species',palette='Set2',vars=['sepal_length','petal_width'])
g.map_diag(sns.histplot)
g.map_upper(sns.scatterplot)
g.map_lower(sns.kdeplot)

In [ ]:
sns.jointplot(x='total_bill',y='tip',data=tips,kind='hex')

In [ ]:
sns.jointplot(x='total_bill',y='tip',data=tips,kind='scatter')

In [ ]:
sns.jointplot(x='total_bill',y='tip',data=tips,kind='reg')

In [ ]:
sns.jointplot(x='total_bill',y='tip',data=tips,kind='hist')

In [ ]:
sns.jointplot(x='total_bill',y='tip',data=tips,kind='hist',hue='sex')

In [ ]:
g= sns.JointGrid(x="total_bill", y="tip", data=tips)
g.plot(sns.regplot, sns.distplot)

In [111]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [112]:
sns.load_dataset("dots")

    align choice  time  coherence  firing_rate
0    dots     T1   -80        0.0    33.189967
1    dots     T1   -80        3.2    31.691726
2    dots     T1   -80        6.4    34.279840
3    dots     T1   -80       12.8    32.631874
4    dots     T1   -80       25.6    35.060487
..    ...    ...   ...        ...          ...
843  sacc     T2   300        3.2    33.281734
844  sacc     T2   300        6.4    27.583979
845  sacc     T2   300       12.8    28.511530
846  sacc     T2   300       25.6    27.009804
847  sacc     T2   300       51.2    30.959302

[848 rows x 5 columns]