In [ ]:
import pandas as pd
import numpy as np

In [ ]:
courses = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-20\courses.csv')
courses

In [ ]:
deliveries = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-20\deliveries.csv')
deliveries

In [ ]:
matches = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-20\matches.csv')
matches

In [ ]:
nov = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-20\reg-month1.csv')
nov

In [ ]:
dec = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-20\reg-month2.csv')
dec

In [ ]:
students = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\datasets-session-20\students.csv')
students

In [ ]:
pd.concat([nov,dec])  #index remian unchanged

In [ ]:
regs = pd.concat([nov,dec],ignore_index = True)
regs

In [ ]:
# regs = pd.concat([nov,dec],ignore_index = True)
multi = pd.concat([nov,dec],keys = ['Nov','Dec'])
multi
multi.loc[('Nov',0)]
multi.loc[('Dec',6)]

In [ ]:
pd.concat([nov,dec],axis = 1)

In [ ]:
# inner join
# student_id is common in Both


students['student_id'], regs['student_id']

In [ ]:
students.merge(regs)
students.merge(regs,how = "inner",on = "student_id")

In [ ]:
courses.merge(regs,how = "inner",on = "course_id")

In [ ]:
courses.merge(regs,how = "left",on = "course_id")

In [ ]:
t_df = pd.DataFrame({
    'student_id':[26,27,28],
    'name':['a','b','c'],
    'partner':[28,26,17]
})

t_df

In [ ]:
students = pd.concat([students,t_df],ignore_index = True)
students.tail()

In [ ]:
students.merge(regs,how='right',on='student_id')

In [ ]:
students.merge(regs,how='outer',on='student_id')
students.merge(regs,how='outer',on='student_id').tail(10)

In [ ]:
# find  total revenue generated 

regs.merge(courses,how='inner',on='course_id')
regs.merge(courses,how='inner',on='course_id')['price']
total = regs.merge(courses,how='inner',on='course_id')['price'].sum()
total

In [ ]:
# find month by month revenue

pd.concat([nov, dec], keys = ['Nov','Dec'])
t_df = pd.concat([nov, dec], keys = ['Nov','Dec']).reset_index()
t_df

In [ ]:
t_df.merge(courses,on = 'course_id')
t_df.merge(courses,on = 'course_id').groupby('level_0')['price'].count()
t_df.merge(courses,on = 'course_id').groupby('level_0')['price'].sum()

In [ ]:
regs.merge(students,on='student_id')
regs.merge(courses,on='course_id')

In [ ]:
regs.merge(students,on='student_id').merge(courses,on='course_id')
table = regs.merge(students,on='student_id').merge(courses,on='course_id')[['name','course_name','price']]
table
# regs.merge(students,on='student_id').merge(courses,on='course_id')[['name','course_name','price']].sort_values('name')

In [ ]:
#  plot bar chart for revenue/courses
regs.merge(courses,on='course_id').groupby('course_name')['price'].sum().plot(kind='bar')

In [ ]:
common_stu_id = nov.merge(dec,how='inner',on='student_id')['student_id'].unique()
common_stu_id

In [ ]:
common_stud_id = np.intersect1d(nov['student_id'],dec['student_id'])
common_stud_id

In [ ]:
students[students['student_id'].isin(common_stu_id)]['name']
# students[students['student_id'].isin(common_stud_id)]['name']

In [ ]:
# fid the courses that got no enrollment

courses['course_id'] 
regs['course_id']

In [ ]:
not_enroll_course = np.setdiff1d(courses['course_id'],regs['course_id'])
courses[courses['course_id'].isin(not_enroll_course)]
courses[courses['course_id'].isin(not_enroll_course)]['course_name']

In [ ]:
not_enroll_stud = np.setdiff1d(students['student_id'],regs['student_id'])
students[students['student_id'].isin(not_enroll_stud)]
# students[students['student_id'].isin(not_enroll_stud)]['name']

In [ ]:
# print the student name -> partner name for all enrollment students

# self join
 
students.merge(students,how='inner',left_on='partner', right_on='student_id' )

In [ ]:
# find top 3 students who did most number enrollments 

regs.merge(students,on = 'student_id')['name'].value_counts()

regs.merge(students,on = 'student_id').groupby(['student_id','name'])['name'].count().sort_values(ascending = False).head(5)

In [ ]:
# tp 3 students who spent most amount of money on courses

regs.merge(students,on='student_id').merge(courses,on='course_id').groupby(['student_id','name'])['price'].sum().sort_values(ascending = False)

In [ ]:
matches.head(5)

In [ ]:

temp = matches.merge(deliveries,how='inner',left_on='id',right_on='match_id')

temp

In [ ]:
six_df = temp[temp['batsman_runs'] == 6]
six_df

In [ ]:
# stadium -> sixes

num_sixes = six_df.groupby('venue')['venue'].count()

In [ ]:
num_matches = matches['venue'].value_counts()
num_matches

In [ ]:
(num_sixes / num_matches ).sort_values(ascending = False)

In [171]:
top_players = temp.groupby(['season','batsman'])['batsman_runs'].sum().reset_index().sort_values(['season','batsman_runs'],ascending = [True,False]).drop_duplicates('season')
top_players

      season       batsman  batsman_runs
115     2008      SE Marsh           616
229     2009     ML Hayden           572
446     2010  SR Tendulkar           618
502     2011      CH Gayle           608
684     2012      CH Gayle           733
910     2013    MEK Hussey           733
1088    2014    RV Uthappa           660
1148    2015     DA Warner           562
1383    2016       V Kohli           973
1422    2017     DA Warner           641