In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.Timestamp('2004,06,09,05:41:23PM'),\
pd.Timestamp('2004,06,09,05:41:23AM'),\
pd.Timestamp('2004-06-09 05:41:23PM'),\
pd.Timestamp('2004-06-09 05:41:23AM'),\
pd.Timestamp('9 June 2004 05:41:23PM'),\
pd.Timestamp('9th June 2004 05:41:23PM'),\
pd.Timestamp('2004/06/09/05:41:23PM'),\
pd.Timestamp('2004/06/09/05:41:23AM')

In [ ]:
import datetime as dt

dt_py = dt.datetime(2004,6,9,5,41,23)
dt_pd = pd.Timestamp(dt_py)
dt_py, dt_py

In [ ]:
dt_py.year,\
dt_py.month,\
dt_py.day,\
dt_py.hour,\
dt_py.minute,\
dt_py.second,\
dt_py.date

In [ ]:
date = np.array('2004-06-09',dtype='datetime64')
date

In [ ]:
date + np.arange(11)

In [ ]:
(date - np.arange(224))[-1]

In [ ]:
type(pd.DatetimeIndex(['2004-06-09', '2004-06-10', '2004-06-11', '2004-06-12', '2004-06-14', '2004-06-15', '2004-06-16','2004-06-19'])),\
type(pd.DatetimeIndex(['2004-06-09', '2004-06-10', '2004-06-11', '2004-06-12', '2004-06-14', '2004-06-15', '2004-06-16','2004-06-19'])[0])

In [ ]:
idx = pd.DatetimeIndex(['2004-06-09', '2004-06-10', '2004-06-11', '2004-06-12', '2004-06-14', '2004-06-15', '2004-06-16','2004-06-19'])

pd.Series([1,2,3,4,5,6,7,8],index = idx)

D - All days
nD - All days with n gap
B - Business days M - F
W - Week day Sunday
W-MON - Mondays
H - Hourly Data(factor)
nH - Hourly Data(factor) n gap
MS - Month Start
MS - Month End
A - Annual (end year)
A-JUN

In [ ]:
pd.date_range(start='2003/10/30', end='2004/6/9', freq="5D") 
pd.date_range(start='2003/10/30', end='2004/6/9', freq="B")
pd.date_range(start='2003/10/30', end='2004/6/9', freq="W")
pd.date_range(start='2003/10/30', end='2004/6/9', freq="W-MON")
pd.date_range(start='2003/10/30', end='2004/6/9', freq="H")
pd.date_range(start='2003/10/30', end='2004/6/9', freq="4H")
pd.date_range(start='2003/10/30', end='2004/6/9', freq="MS")
pd.date_range(start='2003/10/30', end='2004/6/9', freq="ME")
pd.date_range(start='2003/10/30', end='2004/6/9', freq="A")
pd.date_range(start='2003/10/30', end='2004/6/9', freq="A-JUN")
pd.date_range(start='2003/10/30', end='2004/6/9', freq="A-DEC")

In [85]:
pd.date_range(start='2003/10/30', periods = 56, freq="5D")

DatetimeIndex(['2003-10-30', '2003-11-04', '2003-11-09', '2003-11-14',
               '2003-11-19', '2003-11-24', '2003-11-29', '2003-12-04',
               '2003-12-09', '2003-12-14', '2003-12-19', '2003-12-24',
               '2003-12-29', '2004-01-03', '2004-01-08', '2004-01-13',
               '2004-01-18', '2004-01-23', '2004-01-28', '2004-02-02',
               '2004-02-07', '2004-02-12', '2004-02-17', '2004-02-22',
               '2004-02-27', '2004-03-03', '2004-03-08', '2004-03-13',
               '2004-03-18', '2004-03-23', '2004-03-28', '2004-04-02',
               '2004-04-07', '2004-04-12', '2004-04-17', '2004-04-22',
               '2004-04-27', '2004-05-02', '2004-05-07', '2004-05-12',
               '2004-05-17', '2004-05-22', '2004-05-27', '2004-06-01',
               '2004-06-06', '2004-06-11', '2004-06-16', '2004-06-21',
               '2004-06-26', '2004-07-01', '2004-07-06', '2004-07-11',
               '2004-07-16', '2004-07-21', '2004-07-26', '2004-07-31'],
              dtype='datetime64[ns]', freq='5D')