In [ ]:
import pandas as pd
import numpy as np

In [ ]:
t1 = pd.Timestamp('11th Aug 2025')
t1

In [ ]:
t2 = pd.Timestamp('15th Aug 2025')
t2

In [ ]:
t2 - t1

In [ ]:
pd.Timestamp('15th Aug 2025') + pd.Timedelta('4 days 04:40:30')

In [ ]:
df = pd.read_csv(r"F:\SHIKHER-VS\DSMP\02_pandas\datasets\pandas-case-study\deliveries.csv")
df.head()

In [ ]:
df['order_date']    = pd.to_datetime(df['order_date'])
df['delivery_date'] = pd.to_datetime(df['delivery_date'])

In [19]:
df["delivery_time_period"] = df['order_date'] - df['delivery_date']

In [20]:
df.head()

  order_date delivery_date delivery_time_period
0 1998-05-24    1999-02-05            -257 days
1 1992-04-22    1998-03-06           -2144 days
2 1991-02-10    1992-08-26            -563 days
3 1992-07-21    1997-11-20           -1948 days
4 1993-09-02    1998-06-10           -1742 days

In [22]:
df["delivery_time_period"].mean()

Timedelta('-1218 days +01:06:06.467065872')

In [23]:
google = pd.read_csv(r'F:\SHIKHER-VS\DSMP\02_pandas\datasets\pandas-case-study\google.csv')
google.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.813290  51.835709  47.800831  49.982655  49.982655  44871361
1  2004-08-20  50.316402  54.336334  50.062355  53.952770  53.952770  22942874
2  2004-08-23  55.168217  56.528118  54.321388  54.495735  54.495735  18342897
3  2004-08-24  55.412300  55.591629  51.591621  52.239197  52.239197  15319808
4  2004-08-25  52.284027  53.798351  51.746044  52.802086  52.802086   9232276