In [ ]:
import numpy as np
import pandas as pd

In [1]:
df = pd.read_csv('deliveries.csv')
df

NameError: name 'pd' is not defined

In [ ]:
df_temp = df.groupby('batsman')['batsman_runs'].sum().reset_index().sort_values(by='batsman_runs',ascending=False).reset_index().drop(['index'],axis=1)
df_temp

In [ ]:
df_temp.to_csv("batsman_runs.csv")

In [ ]:
df_temp.to_csv("batsman_runs.csv",index=0)

In [ ]:
df2 = df.pivot_table(index='batsman',columns="bowling_team",values='batsman_runs',aggfunc='sum')
df2.to_csv('batsman_vs_bowlingTeam.csv')

In [ ]:
df_temp.to_excel("batsman_runs.xlsx",index=False)

In [ ]:
df2.to_excel('data.xlsx', sheet_name='data_Sheet')

In [ ]:
with pd.ExcelWriter('output.xlsx') as writer:
    df_temp.to_excel(writer, sheet_name='batsman_runs_Sheet')
    df2.to_excel(writer, sheet_name='batsman_vs_bowlingTeam_Sheet')

In [ ]:
df3 = df.query('batsman_runs == 6').pivot_table(index='over', columns="ball", values='batsman_runs', aggfunc="count")
df3.to_html("sixes.html")

In [ ]:
df4 = df.groupby(['batting_team','batsman'])['batsman_runs'].sum().unstack()
df4

In [ ]:
df4.to_json('output.json')

In [ ]:
!pip install pymysql sqlalchemy

In [ ]:
import pymysql
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("pymysql+ysql://root:@localhost/ipl")

df.to_sql("ipl",con=engine,if_exists = "append")
df_temp.to_sql("ipl_runs",con=engine,if_exists = "append")